// desktop=====================================

@media only screen and (min-width: 1024px) {
  .elementosMenu {
    margin-left: 3rem;
  }

  .logoIguazu {
    @include size(10rem, auto);
  }

  .navbarColor {
    background: $ColorVerdeClaro;
  }

  .bgImgiguazu {
    background-attachment: fixed;
    height: 70vh;
    background-image: url(../img/cataratas-iguazu.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .textoHeader {
    color: $ColorBlanco;
  }

  .caroucelCentrado {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .claseFooter {
    background: $ColorVerdeClaro;
  }

  .socialLogo {
    @include size(3rem, auto);
    height: auto;
    margin-left: 0.1rem;
    transition: all 1s ease-out;

    &:hover {
      filter: invert(30%);
    }
  }

  .lugares {
    font-size: 1.2rem;
  }

  .badgeColor {
    margin-left: 0.5rem;
    font-size: 1rem;
    background: $ColorVerdeClaro;
  }

  .itemMenu {
    transition: border-radius 2s, background 0.5s ease-out;
    &:hover {
      border-radius: 1rem;
      background: $ColorMarron;
    }
  }
}
