/* breakpoint tablet -------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .logoIguazu {
    @include size(20rem, auto);
    // width:20rem;
    // height: auto;
  }

  .logoIguazu {
    @include size(15rem, auto);
    // width:15rem;
  }
  .navbarColor {
    background: $ColorVerdeClaro;
  }

  .bgImgiguazu {
    background-attachment: fixed;
    height: 70vh;
    background-image: url(../img/cataratas-iguazu.png);
  }

  .textoHeader {
    color: $ColorBlanco;
  }

  .claseFooter {
    background: $ColorVerdeClaro;
  }

  .socialLogo {
    @include size(3rem, auto);
    // width:3rem;
    // height:auto;
    margin-left: 0.1rem;
  }

  .infoIguazu {
    text-align: center;
  }

  .caroucelCentrado {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lugares {
    font-size: 1.2rem;
  }

  .badgeColor {
    margin-left: 0.5rem;
    font-size: 1rem;
    background: $ColorVerdeClaro;
  }

  .nav-item {
    transition: border-radius 2s, background 0.5s ease-out;
  }

  .nav-item:hover {
    border-radius: 1rem;
    background: $ColorMarron;
  }

  .carouselSize {
    @include size(50%, auto);
    // width: 50%;
    // height: auto;
    margin: 1rem;
  }

  .inputDeForm {
    @include size(50%, auto);
    // width:50%;
  }
}
