/*Familias tipograficas*/
/*font-family: 'Acme', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/

// Paleta
$ColorBlanco: #f9f7f0;
$ColorBlancoDos: #d7f1ec;
$ColorCeleste: #87c7cd;
$ColorVerdeClaro: #415d2e;
$ColorVerdeOscuro: #2d4221;
$ColorMarron: #a05824;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@import "desktop";
@import "tablet";
@import "mobile";

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap");

body {
  background-color: $ColorBlanco;
  font-family: "Poppins", sans-serif;
}
